
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
}

input {
    padding: 8px;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-sizing: border-box;
}

input:hover, input:focus {
    border-color: #ababab;
}

button {
    background-color: lightsteelblue;
    color: white;
    text-align: center;
    padding: 8px 12px;
    border: 1px solid #98b1d6;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover, button:focus {
    border-color: steelblue;
}

.full-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-content {
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.main-content-inner {
    position: relative;
    padding: 24px;
}

.content-head {
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    padding: 24px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-head > .title {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.content-head ~ .content-body {
    margin-top: 0;
}

.content-head ~ .content-body .content-body-inner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content-head ~ .content-body .back-button > button {
    border-top-left-radius: 0;
}

.content-body {
    position: relative;
}

.content-body-inner {
    color: #565656;
    padding: 24px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading {
    text-align: center;
}

.lookup-form input {
    display: block;
    width: 100%;
}

.lookup-error {
    background-color: #d4898b;
    border-color: #9d5b5d;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.lookup-error p {
    margin: 0;
}

.back-button {
    position: absolute;
    font-size: 10px;
    top: 0;
    left: 0;
    margin: 0;
}

.back-button > button {
    background-color: white;
    border-color: #efefef;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 5px 0;
    color: gray;
    cursor: pointer;
}

.back-button > button:hover, .back-button > button:focus {
    border-color: gray;
}

.input {
    display: block;
    margin-bottom: 4px;
}

.input input {
    width: 100%;
    box-sizing: border-box;
}

.input .label {
    font-size: 10px;
    margin: 0 2px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: steelblue;
    color: white;
    z-index: 1000;
}

.header ~ div {
    padding-top: 50px;
}

.header ~ .full-content {
    margin-top: 50px;
}

.brand {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 12px;
    box-sizing: border-box;
}

.brand .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.details-container {
    display: flex;
}

.account-details, .payment-details {
    flex: 1;
}

